.cartSection {
    margin-top: 100px;
    .cartBox {
      .cartTitle {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
        align-items: center;
        font-size: max(1.5vw, 15px);
        color: rgb(26, 26, 26);
        gap: 30px;
      }
      .cartItem {
        margin: 10px auto;
        img {
          width: 50px;
          height: 50px;
          align-items: center;
          object-fit: contain;
          color: #000000;
        }
       .itemTitle{
        white-space: nowrap;
        overflow: hidden;
       }
        .removeCartItem {
          font-size: max(1.4vw, 14px);
          cursor: pointer;
        }
      }
      hr {
        height: 1px;
        margin: 5px auto;
        background-color: lightgray;
        border: none;
      }
    }
   
  }
  .cartZero{
    width: 100%;
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .goToProduct{
    width: max-content;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    border-radius: 3px;
    font-size: 16px;
  }