.productWrapper{
    width: 100%;
    .productBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 30px;
        margin-top: 35px;
    }
}